@font-face {
	  font-family: 'Open';
	  src: url('font/OpenSans-Light.ttf');
	  src: url('font/OpenSans-Bold.ttf');
	  font-weight: normal;
	  font-style: normal;
}

$dark-grey:#282828;
$light-grey:#757575;
$wht:#fff;
$yellow:yellow;
$bl: #000;